In [ ]:
!pip install --upgrade --no-cache-dir gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (4.6.6)
Collecting gdown
  Downloading gdown-4.7.1-py3-none-any.whl (15 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.12.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.27.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.65.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.6.6
    Uninstalling gdown-4.6.6:
      Successfully uninstalled gdown-4.6.6
Successfully installed gdown-4.7.1

In [ ]:
!gdown "1FhX9atbJ3kViocxmQVSoImuki5LMb5UU"

Downloading...
From (uriginal): https://drive.google.com/uc?id=1FhX9atbJ3kViocxmQVSoImuki5LMb5UU
From (redirected): https://drive.google.com/uc?id=1FhX9atbJ3kViocxmQVSoImuki5LMb5UU&confirm=t&uuid=43cabe76-79f6-4caf-91c8-66996da810d0
To: /content/20220620-youtube-trends.zip
100% 185M/185M [00:02<00:00, 83.7MB/s]

In [ ]:
!unzip 20220620-youtube-trends.zip

Archive:  20220620-youtube-trends.zip
  inflating: JP_category_id.json
  inflating: __MACOSX/._JP_category_id.json
  inflating: JP_youtube_trending_data.csv
  inflating: __MACOSX/._JP_youtube_trending_data.csv
  inflating: US_category_id.json
  inflating: __MACOSX/._US_category_id.json
  inflating: US_youtube_trending_data.csv
  inflating: __MACOSX/._US_youtube_trending_data.csv

In [ ]:
!ls US* JP*

JP_category_id.json	      US_category_id.json
JP_youtube_trending_data.csv  US_youtube_trending_data.csv

In [ ]:
path = "US_youtube_trending_data.csv"

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(path)

In [ ]:
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL → http://bit.ly/subscribe-xxl...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

In [ ]:
top_categories = df.groupby('categoryId')['view_count'].sum().nlargest(10)

In [ ]:
top_categories

categoryId
10    101372660394
24     89030760570
20     50133842565
17     30037922596
22     24804307814
23     14478321140
25     12430211268
1      12264580884
28     11575158433
27      6258916377
Name: view_count, dtype: int64

In [ ]:
result_df = pd.DataFrame(top_categories)

In [ ]:
import json

In [ ]:
result_df

              view_count
categoryId
10          101372660394
24           89030760570
20           50133842565
17           30037922596
22           24804307814
23           14478321140
25           12430211268
1            12264580884
28           11575158433
27            6258916377

In [ ]:
json_path = '/content/US_category_id.json'
with open(json_path, 'r') as file:
    category_data = json.load(file)
category_dict = {item['id']: item['snippet']['title'] for item in category_data['items']}

In [ ]:
result_df.index = result_df.index.astype(str)
category = result_df.index.map(category_dict)
result_df['categoryName'] = category

In [ ]:
result_df

              view_count          categoryName
categoryId
10          101372660394                 Music
24           89030760570         Entertainment
20           50133842565                Gaming
17           30037922596                Sports
22           24804307814        People & Blogs
23           14478321140                Comedy
25           12430211268       News & Politics
1            12264580884      Film & Animation
28           11575158433  Science & Technology
27            6258916377             Education